In [2]:
#1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
#    *
#    'hello'
#    -87.8
#    -
#    /
#    +
#    6

In [3]:
#ANS:
#  *           is expressions
#  'hello'     is values
#  -87.8       is expressions
#  -           is expressions
#  /           is expressions
#  +	         is expressions
#  6           is values

In [4]:
#2 What is the difference between string and variable?

In [5]:
#Ans:
#    String is a Data Type in python programming language that represents sequesce of characters enclosed by inverted commas while
#    variables is a alias that indicates a memory location where assigned data can be stored and accessed letter.
# Example:
#        "sandeep"
#        Name="Sandeep Kumar Biswas"

# in above example "sandeep" and "Sandeep Kumar Biswas" is string while Name is a variable which is holding a string value i.e. "Sandeep Kumar Biswas"

In [6]:
#3. Describe three different data types.

In [8]:
#ANS:
#    The three different data types in python is Text Type, Numeric Types, Sequence Types
#     Text Type - string or sequence of characters under inverted commas is part of text type data types (Ex- "Sandeep Kumar Biswas 7739797")
#     Numeric Types - whole numbers (Int), decimal numbers(float) and complex numbers are part of Numetic data types. (Ex- 23,50000,34.56,456,90, 3+7j)
#     Sequence Types - list, tuple are part of sequence data types (Ex- [2,3,"Sandeep"], (2,3,"Sandeep"))

In [9]:
#4. What is an expression made up of? What do all expressions do?

In [3]:
#ANS:
#    Expressions is basically combination of values, variables, operators, and function that evaluates the results in single value.

In [4]:
#5 This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [5]:
#ANS:
#     spam = 10 here 10 is expression that is holding a value of 10, spam is variable that holds the expression 10 and the whole i.e. (spam=10) is statement.

In [9]:
#6 After running the following code, what does the variable bacon contain?

In [10]:
#ANS:

bacon = 22
bacon + 1

# bacon is now holding value 23

23

In [11]:
#7  What should the values of the following two terms be?

In [18]:
#ANS:
print('spam' + 'spamspam')  # Result "spamspamspam"
print('spam' * 3)           # Result "spamspamspam"

spamspamspam
spamspamspam

In [19]:
#8 Why is eggs a valid variable name while 100 is invalid?

In [20]:
#ANS:
#   Variable name must be starts with a letter.

In [21]:
#9  What three functions can be used to get the integer, floating-point number, or string version of a value?

In [41]:
value=22
integer_value=int(value) # this function is used to convert a value into a integer
print(value)

value1=22.22
float_value=float(value1) # this function is used to convert a value into a float
print(value1)
type(value1)

value2=22
string_value=str(value2) # this function is used to convert a value into a string
print(value2)
type(value2)

22
22.22
22

int

In [43]:
#10 Why does this expression cause an error? How can you fix it?

In [48]:
#ANS:
print("I have eaten ' + 99 + ' burritos.") # to replace the single quote with double quote at the beginining and at the end.

I have eaten ' + 99 + ' burritos.